# implementation_name: cpython
# implementation_version: 3.12.9
# os_name: posix
# platform_machine: arm64
# platform_release: 24.3.0
# platform_system: Darwin
# platform_version: Darwin Kernel Version 24.3.0: Thu Jan  2 20:24:23 PST 2025; root:xnu-11215.81.4~3/RELEASE_ARM64_T8122
# python_full_version: 3.12.9
# platform_python_implementation: CPython
# python_version: 3.12
# sys_platform: darwin
pandas==2.2.3
ib-insync==0.9.86
numpy==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.1
tzdata==2025.1
eventkit==1.0.3
nest-asyncio==1.6.0
six==1.17.0
